/**
 * Event Espresso
 * =================================
 * This overrides a lot of Event Espresso's default styles since I don't want them, and adds any new ones needed.
 *
 *
 *
 *
 */

// Not my circus...
/* stylelint-disable selector-class-pattern, selector-max-id, selector-max-compound-selectors */

$primary: #2e3136;
$background: #f8f1ee;
$blue: #4c52c7;
$white: #f8f1ee;
$orange: #d58163;

.desc-hide p {
  display: none;
}

.desc-show {
  .event-tickets {
    display: none;
  }

  p {
    font-size: 1.3em;
  }
}

.checkbox-dropdown-selector-wrap-dv button {
  background-color: $blue;
  border-radius: 10px;
}

.checkbox-dropdown-selector-wrap-dv button:hover {
  background-color: $orange;
}

.datetime_selector-dv {
  display: none;
}

//change box color to be blue
.tkt-slctr-tbl thead,
.tkt-slctr-tbl tbody {
  background-color: $blue;
  border: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  color: $white;
}

.tckt-slctr-tbl-td-name {
  padding: 10px;
}

.tckt-slctr-tbl-td-qty select {
  color: #333333;
}

//hide extra details section
.display-tckt-slctr-tkt-details {
  display: none;
}

.ee-ticket-selector-ticket-price-th {
  display: none;
}

.tckt-slctr-tbl-td-price {
  display: none;
}

.ticket-selector-tbl-qty-slct {
  cursor: pointer;
}

.sold-out {
  color: $white !important;
  cursor: not-allowed;
}

.tkt-slctr-tbl .ticket-sales-sold-out {
  color: #eeeeee;
  cursor: not-allowed;
  opacity: 0.3;
}

//button edits
.ticket-selector-submit-btn-wrap input {
  align-self: center;
  appearance: none;
  background: $orange;
  border: 0;
  border-radius: 140px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  font-family: "Druk Text Wide", sans-serif;
  font-size: 1.2em;
  letter-spacing: 2px;
  line-height: 1;
  margin: 20px;
  padding: 0.6em 2em;
  text-align: center;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  background: {
    image: linear-gradient(45deg, $blue 50%, transparent 50%);
    position: 100%;
    size: 400%;
  }

  &:hover {
    background-position: 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  &:focus {
    outline: none !important;
  }

  &:active {
    border: 0;
  }
}

// List Items on Bottom of page
.event-datetimes {
  background-color: $blue;
  border-radius: 10px;
  color: $white;
  display: none;
}

.ee-event-datetimes-li {
  list-style-type: none;
  margin-bottom: 15px;
  margin-top: 15px;
}

// Second Page

.spco-steps-big-hdr {
  display: none;
}

.small-12 #spco-steps-display-dv {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.small-12 .spco-step-display-dv {
  width: 100%;
}

.small-12 .spco-steps-pg {
  margin-bottom: 50px;
  padding: 0;
}

.spco-ticket-details thead,
.spco-ticket-details tbody {
  background-color: $blue;
  color: $white;
}

.spco-ticket-details thead {
  font-size: 1.3em;
}

.spco-ticket-details > thead > tr > :nth-child(3),
.spco-ticket-details > thead > tr > :nth-child(4),
.spco-ticket-details > tbody > tr > :nth-child(3),
.spco-ticket-details > tbody > tr > :nth-child(4) {
  display: none;
}

.spco-ticket-details {
  margin-bottom: 50px;
}

.small-12 .spco-attendee-lgnd {
  color: rgba(0, 0, 0, 0.5);
}

.small-12 .ee-reg-form-attendee-dv {
  border: 2px solid rgba(0, 0, 0, 0.2);
}

// Form Edits

@media screen and (min-width: 40em) {
  .small-12 .ee-reg-qstn {
    width: 50%;
  }
}

.small-12 #spco-copy-attendee-dv {
  display: none;
}

.spco-whats-next-buttons input {
  appearance: none;
  background: $orange;
  background-color: $orange !important;
  border: 0;
  border-radius: 140px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: "Druk Text Wide", sans-serif;
  transition: 0.3s ease-in-out;
  background: {
    image: linear-gradient(45deg, $blue 50%, transparent 50%);
    position: 100%;
    size: 400%;
  }

  &:hover {
    background-position: 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
}

// Confirmation Page
.small-12 .ee-attention {
  display: none;
}

.tiny-text * {
  color: #222222;
}

// not my monkeys
/* stylelint-enable selector-class-pattern, selector-max-id, selector-max-compound-selectors */
