/**
 * Gradient
 * =================================
 * This controls all the color gradients used across the site.
 *
 *
 *
 *
 *
 */

.bg-white-gradient {
  background: rgb(248, 241, 238);
  background: linear-gradient(
    128deg,
    rgba(248, 241, 238, 1) 0%,
    rgba(255, 241, 235, 1) 100%
  );
}

.bg-blue-gradient {
  background: rgb(204, 219, 229);
  background: linear-gradient(
    128deg,
    rgba(204, 219, 229, 1) 0%,
    rgba(222, 232, 238, 1) 100%
  );
}
