canvas {
  display: block;
  vertical-align: bottom;
}
/* stylelint-disable selector-max-id */
#particles-js {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 4;
}
/* stylelint-enable selector-max-id */
