/**
 * Event Espresso - Colors
 * =================================
 * This is an event Espresso override file. The plugin ships with a ton of styles built in that need overwritten.
 * This holds all the colors that the override pages use.
 *
 *
 *
 */

$black: #2e3136;
$white: #f8f1ee;
$blue: #4c52c7;
$blue-stripe: #282fbe;
$orange: #d58163;
